body{
    font-family: Arial, sans-serif;
    background-color: hsl(0,0%,95%);
}
h1{
    color: blue;
}
form{
    background-color: hsl(0,0%,100%);
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px red;
    background-color: antiquewhite;
}
input{
    padding: 15px;
    font-size: 1em;
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: hsl(0,0%,100%);
    color: red;
    box-shadow: 5px;
}
button{
    width: 50%;
    height: 50px;
    background-color: red;
    color: white;
    font-size: large;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px;
}
button:hover{
    background-color: white;
    color: red;
}
